.github-information {
    background-color: #EED6D3;
    padding: 10px;
    height: 340px;
    width: 1330px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
    color: #A49393;
    font-family: "Fira Code";
}

img {
    border-radius: 900px;
    width: 90px;
}